/* -------------------- Site Layout -------------------- */

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.topContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border: solid 1px gray;
	padding: 0 25px;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: solid 1px gray;
	min-height: 93vh;
	padding: 10px;
}

/* -------------------- Add Item CSS -------------------- */

.addItem {
	flex:1;
}

/* -------------------- Add Item CSS -------------------- */

.nav{
	display: flex;
	justify-content: center;
	flex: 2;
}

.nav__item {
	padding: 0 5px;
}

/* -------------------- Search CSS -------------------- */

.search {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-end;
}

.search::-webkit-input-placeholder {
	font-style: italic;
	font-weight: lighter;
}

.search__image {
	width: 24px;
}

/* -------------------- Add Song Form CSS -------------------- */
.form{
	margin-top: 20px;
	padding: 5px;
	background-color: lightblue;
	border: solid 1px gray;
}

.form__item {
	margin: 5px 0;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}