/* -------------------- Site Layout -------------------- */

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow:  2px 2px 5px #888888;
	border-radius: 20px;
	font-family: "Helvetica"
}

.topContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border: solid 3px gray;
	padding: 0 25px;
	background: linear-gradient(gray, darkgray, gray);
	border-radius: 20px 20px 0 0;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: solid 3px gray;
	border-radius: 0 0 20px 20px;
	min-height: 93vh;
	padding: 10px;
}

/* -------------------- Add Item CSS -------------------- */

.addItem {
	flex:1;
}

.addItem__button:link{
	padding: 2px 6px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.addItem__button:visited{
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px black;
	text-decoration: none;
	color: black;
}

.addItem__button:hover {
	border: solid 1px white;
}

.addItem__button:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}
/* -------------------- Add Item CSS -------------------- */

.nav {
	display: flex;
	justify-content: center;
	flex: 2;
}

.nav__item:link {
	margin: 5px;
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.nav__item:visited {
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.nav__item:hover {
	border: solid 1px white;
}

.nav__item:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}

/* -------------------- Search CSS -------------------- */

.deleteItem {
	display: flex;
	justify-content: flex-end;
	flex:1;
}

.deleteItem__button:link{
	padding: 2px 8px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.deleteItem__button:visited{
	padding: 5px;
	border: solid 1px gray;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	text-decoration: none;
	color: black;
}

.deleteItem__button:hover {
	border: solid 1px white;
}

.deleteItem__button:active {
	background-color: lightgray;
	color: black;
	box-shadow: inset 2px 2px 5px #888888;
	border: solid 1px gray;
}

.deleteItem__icon {
	width: 16px;
}

/* -------------------- Add Form CSS -------------------- */
.form{
	margin-top: 20px;
	padding: 5px;
	background-color: lightgray;
	border: solid 5px darkgray;
	border-radius: 25px;
	box-shadow: 5px 5px 5px #888888;
	font-size: 12px;
}

.form__item {
	margin: 5px 0;
	border-radius: 20px;
	padding-left: 10px;
}

.form__item:focus{
	outline: none;
}

.time {
	margin-left: 15px;
}

.songrating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.songrating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.songrating:hover .songrating-star:hover,
.songrating:hover .songrating-star:hover ~ .songrating-star,
.songrating-input:checked ~ .songrating-star {
    background-position: 0 0;
}
.songrating-star,
.songrating:hover .songrating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.albumrating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.albumrating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.albumrating:hover .albumrating-star:hover,
.albumrating:hover .albumrating-star:hover ~ .albumrating-star,
.albumrating-input:checked ~ .albumrating-star {
    background-position: 0 0;
}
.albumrating-star,
.albumrating:hover .songrating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.submit {
	background-color: white;
}

.submit:hover {
	border-color: white;
}