<form class="form" action="/album.erb" method="post">
	
	What Album are you looking for?
	<input class="form__item" type="text" name="albumParam" required=""><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>
