<form class="form" action="/albums" method="post">
	
	Which Album are you looking for?<br>
	<input class="form__item" type="text" name="albumParam" required=""><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>
