<form class="form" action="/artists" method="post">

Which Artist are you looking for?
	<input class="form__item" type="text" name="artistSearchParam" required><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>


<table class="table">
  <tr class="table__row">
    <th class="table__header">Artist</th> 
    <th class="table__header">Album</th>
    <th class="table__header">Genre</th>
  </tr>
  <% artistarray.each do |artist,album,genre| %>
  <tr class="table__row">
  	<td class="table__data"><%= artist %></td>
  	<td class="table__data"><%= album %></td>
  	<td class="table__data"><%= genre %></td>
  </tr>
   <% end %>
</table>

