<form class="form" action="/artists" method="post">

Which Artist are you looking for?
	<input class="form__item" type="text" name="artistSearchParam" required><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>


