<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Music Database</title>
  </head>

<body class="mainContainer">
  <nav class="topContainer">
    <div class="nav">
      <ul>
        <a href= "/songs">Songs</a>
        <a href= "/albums">Albums</a>
        <a href= "/artists">Artists</a>
      </ul>
    </div>

    <div class="nav">
      <ul>
        <a href= "/add_songs">Add Songs</a>
        <a href= "/add_albums">Add Albums</a>
        <a href= "/add_artists">Add Artists</a>
      </ul>
    </div>

    <div class="search">
      <input class="search" type="text" name="search" placeholder="Search music..."><img class="search__image" src="images/search.png" alt="search">
    </div>

  </nav>

<% if @error != nil %>
  <div class="container">
    <% @error.each do |error_message| %>
      <div role="alert">
        <button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> <%= error_message %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- The `yield` below is where the contents of a view file are put. -->
<!-- Then the combined layout + view is sent back to the client. -->
<div class="contentContainer">
  <%= yield %>
</div>

<div>
  <div class="bottomContainer">
    <p>
      Footer. Not Sure we need anything down here.
    </p>

    
  </div>
</div>

</body>

</html>

