Songs


<h2>Song Listing:</h2>
<!-- Equal sign will display the variable to HTML -->
<%= @music_file %>


<!-- Create flat file as an array, and create each line in the file as an array  
the foreach method executes the block of code in brackets "for each" line in the file. Seeing that each line is split by the "||" delimiter, the code will then execute an array for that line. So essentially, the map method executes the creation of an array twice: for all the file contents itself, and then each line in the file. -->

