Choose whether to add a song, album, or artist

<div class="nav">
      <ul>
        <a href= "/add_songs">Add Songs</a>
        <a href= "/add_albums">Add Albums</a>
        <a href= "/add_artists">Add Artists</a>
      </ul>
    </div>