<form class="form" action="/add_song" method="post">
	Song:
	<input class="form__item" type="text" name="titleParam"><br>

	Artist:
	<input class="form__item" type="text" name="artistParam"><br>

	Album:
	<input class="form__item" type="text" name="albumParam"><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>