<form class="form" action="/add_song" method="post">
    
    <p>To delete specific song please include all the information you know.<p><br>

    <p>To delete an entire Album only complete the album box</p><br>

    Song:
	<input class="form__item" type="text" name="titleParam"><br>

	Artist:
	<input class="form__item" type="text" name="artistParam"><br>

	Album:
	<input class="form__item" type="text" name="albumParam"><br>
	
    <input class="form__item submit" type="submit" name="submit">
</form>